body {
}

/*Mandeep*/

.h5_font {
    font-family: Helvetica, Arial, sans-serif !important;
	font-size:17px;
}

.font-size-18 {
    font-size: 18px !important;
}

.color-red {
    color: red !important;
}
.background-red {
    /*background: red !important;*/
}
.display-block
{
    display:block !important;
}
.width-100 {
    width: 100% !important;
}

.float-right {
    float: right !important;
	font-size:13px!important;
	font-weight:1 !important;
 padding:8px 20px;
 border-radius:40px;
 text-transform:uppercase;
 font-weight:400;
 background:rgba(0, 23, 71, 0.85);
 color:#fff !important; 
}

.margin-bot-10 {
    margin-bottom: 10px !important;
}
.margin-top-10 {
    margin-top: 10px !important;
}


.error-border {
    border-color: #ec0f0f;
    border-width: 1px;
    border-style: solid;
}
.pagination li {
	float: left;
	margin: 6px;
	color: #fff;
	background: #19c53f;
	padding: 8px 12px;
	border-radius: 4px;
	text-align: center !important;
}

.pager1 {
	background: #fff;
	width: 100%;
	float: left;
}

.pagination a {
	text-align: center;
	color: #fff;
}

.pagination .active {
	color: #fff;
	margin: 6px;
	background: #000;
	text-align: center;
	float: left;
}

.pagination ul {
	text-align: center;
}

.listing img {
	height: 100%;
}

.item-grid__image-container--open-houses {
	width: 100%;
	height: 210px;
}

.item-grid__image-container {
	height: 225px;
	width: 100%;
}
input[type="radio"] {
	position: relative;
	top: 16px;
	-moz-appearance:radio !important;
	border:none !important;
	outline:none!important;
}

/*mandeep*/

.modal-header
{
	
	text-align:center;
	font-size:32px;
	color :#1fc341;
	padding:30px !important;
	font-weight:400;
}

.modal-body
{
	
	padding:0px !important;
}

.error-txt
{
    border: 1px solid #ec0f0f;
}
.error
{
    color:red;
}
input[type="radio"]{
    -webkit-appearance: radio;
}

.box:before {
    content:'';
    position:absolute;
    top:0;
    left:-50%;
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.05);
    transform:skewX(-3deg);
    pointer-events:none;
}
.box p {
    margin:0;
    padding:0;
    color:#fff;
    font-size:50px;
}
.box label {
    position:relative;
    cursor:pointer;
}
.box label input {
    display:none;
}
.box label span {
    position:relative;
    display:inline-block;
    margin: 5px 6px;
    font-size:11px;
    padding:0px;
	text-transform:uppercase;

    width: 96px;
    background: #c0c0bf;
	height:50px!important;
    color: #000;
	font-weight:bold;
	text-align:center;
	border-radius:3px;
	margin-left:0px;
	padding-top:17px;
}
.text span{
	
	padding:6px !important;
}

.box label input:checked ~ span {
    color:#fff;
	background:#1fc341!important
}
.box label input:checked ~ span:before {
    content:'';
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    background:#008eff;
    z-index:-1;
}
.box label input:checked ~ span:after {
    content:'';
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    background:#008eff;
    z-index:-1;
    filter: blur(15px);
}


.box label input:checked ~ span.no {
    color:#fff;
	background:#1fc341 !important
   
}

.box label input:checked ~ span.no:before,
.box label input:checked ~ span.no:after {
    background:#ff0000;
}




	  #rc-imageselect {transform:scale(0.77) !important;
	  -webkit-transform:scale(0.77) !important;
	  transform-origin:0 0  !important;
	  -webkit-transform-origin:0 0  !important;
	  } 


.property_item_hidden{
	
	border:2px solid #c50a1b !important;
	
	
}

.property_item_hidden2{
	
	border:2px solid #c50a1b !important;
	
	
}

.property_item_blur{
filter:blur(5px)!important;
}







.img-hidden
{
position:absolute !important;

left:93px !important;
	margin-top:41px !important;
	z-index:4 !important;
}
	

.text-hidden h1	{
	background:#c50a1b!important;
	width:58% !important;
	padding:37px 0px !important;
	position:absolute !important;
	right:17px !important;
	font-size:24px !important;
	float:left!important;
	font-weight:bold; 
	color:#fff!important;
	
	 margin-top:125px !important;
	z-index:5 !important;
}
.text-hidden h3	{

	width:57% !important;
	position:absolute !important;
	right:18px !important;
	font-size:16px !important;
	float:left!important;
	font-weight:400; 
	color:#fff!important;
	left:510px !important;
	margin-top:190px !important;
	z-index:5 !important;
}



.text-hidden2 h3{

	width:57% !important;
	position:absolute !important;
	font-size:16px !important;
	float:left!important;
	font-weight:400; 
	color:#fff!important;
	margin-left:94px !important;
	margin-top:405px !important;
	z-index:5 !important;
}



.text-hidden2 h1	{
	background:#c50a1b!important;
	width:46% !important;
	padding:37px 0px !important;
	position:absolute !important;
	font-size:24px !important;
	float:left!important;
	font-weight:bold; 
	color:#fff!important;
	
	 margin-top:342px !important;
	z-index:5 !important;
}

.img-hidden2
{
position:absolute !important;

	z-index:4 !important;
	margin-left:112px!important;
	margin-top:29px!important;
}


.listing__figure img
{
	
	height:22px!important;
	width:24px!important;
}

.listing__figure {
	
		font-size:21px !important;
		font-weight:bold !important;
}





.topbar__link {
  color:#fff!important;
  transition: 0.3s color ease-out;
}


.login{
	background:#1fc341!important;
	border-radius:4px;
	border:2px solid #1fc341;
	
	
	
}

.register
{	background:#1fc341!important;
	border-radius:4px;
	border:2px solid #1fc341;
}



/*Mandeep*/


.input-group{
	margin-right:21px !important;
	
	
}

/*.listing__favorite i{
	
	
	color:red !important;
}*/

.listing-sort__result{
	
	
	font-weight:600;
	font-size:18px;
	color:#3F3F3F  !important;
	
}

.chnging
{
	
	background:none !important;
}

.size-chng 
{
	
	
	font-size:17px !important;
	
}
.footer{
	
	background:#fff !important;
	margin-top:0px!important;
	float:left!important;
	
}

.listing__btn{
	background:#1fc341 !important;
	color:#fff !important;
}

.listing__btn:hover{
	
		background:#fff !important;
		color:#000!important;	
}

.bdr_style{
	
	border:1px solid #ddd !important;
}

.font-size-18{
	
	
text-transform:uppercase !important;
font-weight:bold;
font-size:14px !important;;
}

.main-listing__form-field{
	
	border:1px solid #eee;
	border-radius:3px !important;
	
}
 .dp_setting{
	
	
	border-radius:4px!important;
	padding:6px 15px !important;
	background:#eee!important;
	
}

.contact-form--wild-sand{
	
	background:#f6f6f6 !important;
	padding:44px 9px !important;
}

.listing__location{
	color:rgba(0, 23, 71, 0.85) !important;
	font-size:11px !important;
	font-weight:800!important;
	
}
 
@media only screen and (max-width: 600px) {
	.listing__btn{
		
		position:relative !important;
		left:110px!important;
		
	}
}

@media only screen and (max-width: 600px) {
.text-hidden h3{
	
	left:80px !important;
margin-top:450px!important;
font-size:13px !important;
right:none;
}
@media only screen and (max-width: 600px) {
.text-hidden h1{
	
	width:90% !important;
margin-top:383px!important;
font-size:22px!important;
}
