
    <section class="widget">
        <form class="contact-form contact-form--bordered contact-form--wild-sand bdr-chng">
           
            <div class="contact-form__body ">
                <input type="text" class="contact-form__field " placeholder="First Name" name="name_appointment" required>
                <input type="text" class="contact-form__field" placeholder="Last Name" name="lastname_appointment" required>
                <input type="email" class="contact-form__field" placeholder="Email" name="email_appointment" required>
                <input type="tel" class="contact-form__field phn" placeholder="Phone number" name="phone_appointment">
                <input type="text" class="contact-form__field" placeholder="Appointment date" name="date" required id="txtdatepicker">
                <select name="time" id="listing-time" class="ht-field main-listing__form-field">
                    <option value="" selected>--Appointment Time--</option>
                    <option value="9am-11am">9am-11am</option>
                    <option value="11am-1pm">11am-1pm</option>
                    <option value="1pm-3pm">1pm-3pm</option>
                    <option value="3pm-5pm">3pm-5pm</option>
                    <option value="5pm-7pm">5pm-7pm</option>

                </select><!-- .main-listing__form-field -->
                <textarea class="contact-form__field contact-form__comment" cols="30" rows="4" placeholder="Comment" name="comment_appointment" required></textarea>

                <span class="size-chng">Please select  I am a</span>
                @*@Html.RadioButton("UserType", "Buyer & Seller", new { @id = "UserType1" }) Buyer & Seller

                @Html.RadioButton("UserType", "Seller", new { @id = "UserType2" }) Seller
                @Html.RadioButton("UserType", "Buyer", new { @id = "UserType3" }) Buyer
                @Html.RadioButton("UserType", "Renter", new { @id = "UserType4" }) Renter*@

                <div class="radio_sgl_btn">
                    <div class="box">
                        <label>

                            <input type="radio" name="UserType" value="Buyer & Seller" >
                            <span class="no text">Buyer & Seller</span>
                        </label>
                        <label>
                            <input type="radio" name="UserType" value="Seller">
                            <span class=" no">Seller</span>
                        </label>
                        <label>
                            <input type="radio" name="UserType" value="Buyer">
                            <span class="no">Buyer</span>
                        </label>
                        <label>
                            <input type="radio" name="UserType" value="Renter">
                            <span class="no">Renter</span>
                        </label>
                    </div>
                </div>	

                <label id="lblErrorAppointment" class="color-red"></label>
            </div><!-- .contact-form__body -->
           
        </form><!-- .contact-form -->
    </section><!-- .widget -->

