
<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png" />
<link rel="icon" type="image/png" href="/assets/img/favicon.png" />
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<!-- CSS Files -->
@*<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />*@
@*<link href="../assets/css/material-bootstrap-wizard.css" rel="stylesheet" />*@


<div class="image-container set-full-height" style="background-image: url('../assets/img/wizard-profile.jpg')">
   
    <!--   Big container   -->
    <div class="container">
        <div class="row">
     

                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-1">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">email</i>
                                                </span>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Email <small>(required)</small></label>
                                                    <input name="email_login" type="email" class="form-control">
                                                    <label id="lblEmail_login" class="color-red"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10 col-sm-offset-1">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">enhanced_encryption</i>
                                                </span>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">password <small>(required)</small></label>
                                                    <input id="password_login" name="password_login" type="password" class="form-control">
                                                    <label id="lblPassword_login" class="color-red"></label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
        <input type='button' id="btnLogin" class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='Finish' />

                            </div>

</div>


