@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section class="main-slider">
    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="realand-slider-1" data-source="gallery" style="margin:0px auto;background:rgba(0,0,0,0.5);padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.4.6 fullwidth mode -->
        <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.6">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="~/content/images/revslider/main_slider_1-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/content/images/revslider/main_slider_1-2.jpeg" alt="" title="main_slider_1" width="1920" height="820" data-lazyload="~/content/images/revslider/main_slider_1.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption   tp-resizeme" id="slide-1-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-60','-40']" data-fontsize="['18','18','16','14']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":1500,"frame":"0","from":"y:top;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 18px; line-height: 22px; font-weight: 400; color: #f3f3f3; letter-spacing: 0px;font-family:Roboto;">THE BEST REAL ESTATE DEALS </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption   tp-resizeme" id="slide-1-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['60','60','40','26']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 60px; line-height: 22px; font-weight: 900; color: #ffffff; letter-spacing: 0px;font-family:Raleway;">Discover Your Perfect Home </div>

                    <!-- LAYER NR. 3 -->
                    <a href="https://www.youtube.com/watch?v=Q0CbN8sfihY" data-lity class="tp-caption   tp-resizeme" target="_self" id="slide-1-layer-7" data-x="['center','center','center','center']" data-hoffset="['6','6','6','6']" data-y="['top','top','top','top']" data-voffset="['480','380','300','230']" data-fontsize="['60','60','36','36']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-actions='' data-responsive_offset="on" data-frames='[{"delay":300,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 60px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;text-decoration: none;"><i class="fa fa-play-circle-o"></i> </a>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-12" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="~/content/images/revslider/main_slider_1-2-100x50.jpeg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/content/images/revslider/main_slider_1-2.jpeg" alt="" title="Main Slider 1-2" width="1920" height="820" data-lazyload="~/content/images/revslider/main_slider_1-2.jpeg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption   tp-resizeme" id="slide-12-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-60','-40']" data-fontsize="['18','18','16','14']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":1500,"frame":"0","from":"y:top;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 18px; line-height: 22px; font-weight: 400; color: #f3f3f3; letter-spacing: 0px;font-family:Roboto;">THE BEST REAL ESTATE DEALS </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption   tp-resizeme" id="slide-12-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['60','60','40','26']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 60px; line-height: 22px; font-weight: 900; color: #ffffff; letter-spacing: 0px;font-family:Raleway;">Discover Your Perfect Home </div>

                    <!-- LAYER NR. 6 -->
                    <a href="https://www.youtube.com/watch?v=Q0CbN8sfihY" data-lity class="tp-caption   tp-resizeme" target="_self" id="slide-12-layer-7" data-x="['center','center','center','center']" data-hoffset="['6','6','6','6']" data-y="['top','top','top','top']" data-voffset="['480','380','300','230']" data-fontsize="['60','60','36','36']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-actions='' data-responsive_offset="on" data-frames='[{"delay":300,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 60px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;text-decoration: none;"><i class="fa fa-play-circle-o"></i> </a>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->
    <section class="main-search main-search--absolute">
        <div class="container">
            <div class="main-search__container">
                <section class="listing-search">
                    <form action="index.html" method="get" class="listing-search__form">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="listing-type" class="listing-search__label">Listing Types</label>
                                <select name="listing-type" id="listing-type" class="ht-field">
                                    <option value="All" selected>All Listing Type</option>
                                    <option value="For Rent">For Rent</option>
                                    <option value="For Sale">For Sale</option>
                                    <option value="Open House">Open House</option>
                                </select>
                            </div><!-- .col -->

                            <div class="col-sm-3">
                                <label for="offer-type" class="listing-search__label">Offer Type</label>
                                <select name="offer-type" id="offer-type" class="ht-field">
                                    <option value="All" selected>All Offer Type</option>
                                    <option value="For Rent">For Rent</option>
                                    <option value="For Sale">For Sale</option>
                                    <option value="Open House">Open House</option>
                                </select>
                            </div><!-- .col -->

                            <div class="col-sm-3">
                                <label for="city" class="listing-search__label">Select Your City</label>
                                <select name="city" id="city" class="ht-field">
                                    <option value="All" selected>All City</option>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                </select>
                            </div><!-- .col -->

                            <div class="col-sm-3">
                                <label for="listing-btn" class="listing-search__label listing-search__label--hidden">Advanced Search</label>
                                <a href="#" id="listing-btn" class="listing-search__btn">Advanced Search</a>
                            </div><!-- .col -->
                        </div><!-- row -->

                        <div class="listing-search__advance">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="keywords" class="listing-search__label">Keyword</label>
                                    <input type="text" id="keywords" class="listing-search__field" placeholder="Type your keywords...">
                                </div><!-- .col -->

                                <div class="col-sm-3">
                                    <label for="min-price" class="listing-search__label">Min Price</label>
                                    <select name="min-price" id="min-price" class="ht-field">
                                        <option value="Unlimited" selected>Unlimited</option>
                                        <option value="$1,000">$1,000</option>
                                        <option value="$10,000">$10,000</option>
                                        <option value="$20,000">$20,000</option>
                                        <option value="$50,000">$50,000</option>
                                        <option value="$100,000">$100,000</option>
                                    </select>
                                </div><!-- .col -->

                                <div class="col-sm-3">
                                    <label for="bedrooms" class="listing-search__label">Bedrooms</label>
                                    <select name="bedrooms" id="bedrooms" class="ht-field">
                                        <option value="Any" selected>Any</option>
                                        <option value="1">01 bedroom(s)</option>
                                        <option value="2">02 bedroom(s)</option>
                                        <option value="3">03 bedroom(s)</option>
                                        <option value="4">04 bedroom(s)</option>
                                        <option value="5">05 bedroom(s)</option>
                                        <option value="6">06 bedroom(s)</option>
                                        <option value="7">07 bedroom(s)</option>
                                    </select>
                                </div><!-- .col -->

                                <div class="col-sm-3">
                                    <label for="bathrooms" class="listing-search__label">Bathrooms</label>
                                    <select name="bathrooms" id="bathrooms" class="ht-field">
                                        <option value="Any" selected>Any</option>
                                        <option value="1">01 bathroom(s)</option>
                                        <option value="2">02 bathroom(s)</option>
                                        <option value="3">03 bathroom(s)</option>
                                        <option value="4">04 bathroom(s)</option>
                                        <option value="5">05 bathroom(s)</option>
                                        <option value="6">06 bathroom(s)</option>
                                        <option value="7">07 bathroom(s)</option>
                                    </select>
                                </div><!-- .col -->

                                <div class="col-sm-3">
                                    <label for="property-size" class="listing-search__label">Property Size</label>
                                    <div class="listing-search__amount">
                                        <label for="property-amount">Sq.Ft</label>
                                        <span id="property-amount"></span>
                                    </div><!-- listing-search__amount -->
                                    <div id="property-size" class="listing-search__slider listing-search__property-size"></div>
                                </div><!-- .col -->

                                <div class="col-sm-3">
                                    <label for="lot-size" class="listing-search__label">Lot Size</label>
                                    <div class="listing-search__amount">
                                        <label for="lot-amount">Sq.Ft</label>
                                        <span id="lot-amount"></span>
                                    </div><!-- .listing-search__amount -->
                                    <div id="lot-size" class="listing-search__slider listing-search__lot-size"></div>
                                </div><!-- .col -->

                                <div class="col-sm-3">
                                    <label for="garages" class="listing-search__label">Garages</label>
                                    <select name="garages" id="garages" class="ht-field">
                                        <option value="Any" selected>Any</option>
                                        <option value="1">01 garage(s)</option>
                                        <option value="2">02 garage(s)</option>
                                        <option value="3">03 garage(s)</option>
                                        <option value="4">04 garage(s)</option>
                                    </select>
                                </div><!-- .col -->

                                <div class="col-sm-3">
                                    <label for="tenure" class="listing-search__label">Tenure</label>
                                    <select name="tenure" id="tenure" class="ht-field">
                                        <option value="Any" selected>Any</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div><!-- .col -->
                            </div><!-- .row -->

                            <div class="listing-search__more">
                                <a class="listing-search__more-btn" href="#">Additional Features</a>

                                <div class="listing-search__more-inner">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-3">
                                            <div class="listing-search__more-wrapper">
                                                <input type="checkbox" name="parking-garage" id="parking-garage" class="listing-search__more-field">
                                                <label for="parking-garage" class="listing-search__more-label">Parking/Garage (26)</label>
                                            </div><!-- .listing-search__more-wrapper -->

                                            <div class="listing-search__more-wrapper">
                                                <input type="checkbox" name="balcony-terrace" id="balcony-terrace" class="listing-search__more-field">
                                                <label for="balcony-terrace" class="listing-search__more-label">Balcony/Terrace (24)</label>
                                            </div>

                                            <div class="listing-search__more-wrapper">
                                                <input type="checkbox" name="garden" id="garden" class="listing-search__more-field">
                                                <label for="garden" class="listing-search__more-label">Garden (26)</label>
                                            </div>

                                            <div class="listing-search__more-wrapper">
                                                <input type="checkbox" name="porter-security" id="porter-security" class="listing-search__more-field">
                                                <label for="porter-security" class="listing-search__more-label">Porter/Security (24)</label>
                                            </div>

                                            <div class="listing-search__more-wrapper">
                                                <input type="checkbox" name="fireplace" id="fireplace" class="listing-search__more-field">
                                                <label for="fireplace" class="listing-search__more-label">Fireplace (23)</label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-3">
                                            <div class="listing-search__more-wrapper">
                                                <input type="checkbox" name="rural-secluded" id="rural-secluded" class="listing-search__more-field">
                                                <label for="rural-secluded" class="listing-search__more-label">Rural/Secluded (21)</label>
                                            </div>

                                            <div class="listing-search__more-wrapper">
                                                <input type="checkbox" name="air-conditioning" id="air-conditioning" class="listing-search__more-field">
                                                <label for="air-conditioning" class="listing-search__more-label">Air Conditioning (22)</label>
                                            </div>

                                            <div class="listing-search__more-wrapper">
                                                <input type="checkbox" name="lawn" id="lawn" class="listing-search__more-field">
                                                <label for="lawn" class="listing-search__more-label">Lawn (4)</label>
                                            </div>

                                            <div class="listing-search__more-wrapper">
                                                <input type="checkbox" name="swimming-pool" id="swimming-pool" class="listing-search__more-field">
                                                <label for="swimming-pool" class="listing-search__more-label">Swimming Pool (4)</label>
                                            </div>

                                            <div class="listing-search__more-wrapper">
                                                <input type="checkbox" name="barbecue" id="barbecue" class="listing-search__more-field">
                                                <label for="barbecue" class="listing-search__more-label">Barbecue (23)</label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-3">
                                            <div class="listing-search__more-wrapper">
                                                <input type="checkbox" name="microwave" id="microwave" class="listing-search__more-field">
                                                <label for="microwave" class="listing-search__more-label">Microwave (24)</label>
                                            </div>

                                            <div class="listing-search__more-wrapper">
                                                <input type="checkbox" name="tv-cable" id="tv-cable" class="listing-search__more-field">
                                                <label for="tv-cable" class="listing-search__more-label">TV Cable (5)</label>
                                            </div>

                                            <div class="listing-search__more-wrapper">
                                                <input type="checkbox" name="washer" id="washer" class="listing-search__more-field">
                                                <label for="washer" class="listing-search__more-label">Washer (24)</label>
                                            </div>

                                            <div class="listing-search__more-wrapper">
                                                <input type="checkbox" name="outdoor-shower" id="outdoor-shower" class="listing-search__more-field">
                                                <label for="outdoor-shower" class="listing-search__more-label">Outdoor Shower (22)</label>
                                            </div>

                                            <div class="listing-search__more-wrapper">
                                                <input type="checkbox" name="gym" id="gym" class="listing-search__more-field">
                                                <label for="gym" class="listing-search__more-label">Gym (4)</label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-3">
                                            <div class="listing-search__more-wrapper">
                                                <input type="checkbox" name="window-coverings" id="window-coverings" class="listing-search__more-field">
                                                <label for="window-coverings" class="listing-search__more-label">Window Coverings (21)</label>
                                            </div>

                                            <div class="listing-search__more-wrapper">
                                                <input type="checkbox" name="dryer" id="dryer" class="listing-search__more-field">
                                                <label for="dryer" class="listing-search__more-label">Dryer (21)</label>
                                            </div>

                                            <div class="listing-search__more-wrapper">
                                                <input type="checkbox" name="laundry" id="laundry" class="listing-search__more-field">
                                                <label for="laundry" class="listing-search__more-label">Laundry (24)</label>
                                            </div>
                                        </div>
                                    </div><!-- .row -->
                                </div><!-- .listing-search__more-inner -->
                            </div><!-- .listing-search__more -->
                        </div><!-- .listing-search__advance -->
                    </form><!-- .listing-search__form -->
                </section><!-- .listing-search -->

                <section class="listing-sort">
                    <div class="listing-sort__inner">
                        <ul class="listing-sort__list">
                            <li class="listing-sort__item"><a href="#" class="listing-sort__link"><i class="fa fa-th-list" aria-hidden="true" class="listing-sort__icon"></i></a></li>
                            <li class="listing-sort__item"><a href="#" class="listing-sort__link"><i class="fa fa-th" aria-hidden="true" class="listing-sort__icon"></i></a></li>
                            <li class="listing-sort__item"><a href="#" class="listing-sort__link listing-sort__link--active"><i class="fa fa-th-large" aria-hidden="true" class="listing-sort__icon"></i></a></li>
                        </ul>

                        <span class="listing-sort__result">1-9 of 25 results</span>

                        <p class="listing-sort__sort">
                            <label for="sort-type" class="listing-sort__label"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i> Sort by </label>
                            <select name="sort-type" id="sort-type" class="ht-field listing-sort__field">
                                <option value="default">Default</option>
                                <option value="low-price">Price (Low to High)</option>
                                <option value="high-price">Price (High to Low)</option>
                                <option value="featured">Featured</option>
                            </select>
                        </p>
                    </div><!-- .listing-sort__inner -->
                </section><!-- .listing-sort -->
            </div><!-- .main-search__container -->
        </div><!-- .container -->
    </section><!-- .main-search -->
</section><!-- .main-slider -->




<section class="item-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 item-grid__container">
                <div class="listing">
                    <div class="item-grid__image-container">
                        <a href="single_property_1.html">
                            <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                            <img src="~/Content/images/uploads/real_house_luxury_villa.jpg" alt="Real House Luxury Villa" class="listing__img">
                            <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </div><!-- .item-grid__image-container -->
                    <div class="item-grid__content-container">
                        <div class="listing__content">
                            <div class="listing__header">
                                <div class="listing__header-primary">
                                    <h3 class="listing__title"><a href="single_property_1.html">Real House Luxury Villa</a></h3>
                                    <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                                </div><!-- .listing__header-primary -->
                                <p class="listing__price">$2,285,500</p>
                            </div><!-- .listing__header -->
                            <div class="listing__details">
                                <ul class="listing__stats">
                                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                                    <li><span class="listing__figure">3</span> Baths</li>
                                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                                </ul><!-- .listing__stats -->
                                <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                            </div><!-- .listing__details -->
                        </div><!-- .listing-content -->
                    </div><!-- .item-grid__content-container -->
                </div><!-- .listing -->
                <a href="../Property/Index?Type=Residential">Residential</a>
                <a href="../Property/Index?Type=Commercial">commercial</a>
                <a href="../Property/Index?Type=Condo">condo</a>
                <a href="#">vgh</a>
            </div><!-- .col -->
            <div class="col-md-6 item-grid__container">
                <div class="listing">
                    <div class="item-grid__image-container">
                        <a href="single_property_1.html">
                            <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                            <img src="~/Content/images/uploads/dream_house_take_away.jpg" alt="Dream House Take Away" class="listing__img">
                            <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </div><!-- item-grid__image-container -->
                    <div class="item-grid__content-container">
                        <div class="listing__content">
                            <div class="listing__header">
                                <div class="listing__header-primary">
                                    <h3 class="listing__title"><a href="single_property_1.html">House Take Away</a></h3>
                                    <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                                </div><!-- .listing__header-primary -->
                                <p class="listing__price">$2,285,500</p>
                            </div><!-- .listing__header -->
                            <div class="listing__details">
                                <ul class="listing__stats">
                                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                                    <li><span class="listing__figure">3</span> Baths</li>
                                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                                </ul><!-- .listing__stats -->
                                <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                            </div><!-- .listing__details -->
                        </div><!-- .listing-content -->
                    </div><!-- .item-grid__content-container -->
                </div><!-- .listing -->
            </div><!-- .col -->
            <div class="col-md-6 item-grid__container">
                <div class="listing">
                    <div class="item-grid__image-container">
                        <a href="single_property_1.html">
                            <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                            <img src="~/Content/images/uploads/weston_hightpointe_place.jpg" alt="Weston Hightpointe Place" class="listing__img">
                            <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </div><!-- .item-grid__image-container -->
                    <div class="item-grid__content-container">
                        <div class="listing__content">
                            <div class="listing__header">
                                <div class="listing__header-primary">
                                    <h3 class="listing__title"><a href="single_property_1.html">Weston Hightpointe Place</a></h3>
                                    <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                                </div><!-- .listing__header-primary -->
                                <p class="listing__price">$2,285,500</p>
                            </div><!-- .listing__header -->
                            <div class="listing__details">
                                <ul class="listing__stats">
                                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                                    <li><span class="listing__figure">3</span> Baths</li>
                                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                                </ul><!-- .listing__stats -->
                                <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                            </div><!-- .listing__details -->
                        </div><!-- .listing-content -->
                    </div><!-- .item-grid__content-container -->
                </div><!-- .listing -->
            </div><!-- .col -->

            <div class="col-md-6 item-grid__container">
                <div class="listing">
                    <div class="item-grid__image-container">
                        <a href="single_property_1.html">
                            <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                            <img src="~/Content/images/uploads/sunhouse_apartment_c21.jpg" alt="Sunhouse Apartment C21" class="listing__img">
                            <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </div><!-- .item-grid__image-container -->
                    <div class="item-grid__content-container">
                        <div class="listing__content">
                            <div class="listing__header">
                                <div class="listing__header-primary">
                                    <h3 class="listing__title"><a href="single_property_1.html">Sunhouse Apartment C21</a></h3>
                                    <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                                </div><!-- .listing__header-primary -->
                                <p class="listing__price">$2,285,500</p>
                            </div><!-- .listing__header -->
                            <div class="listing__details">
                                <ul class="listing__stats">
                                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                                    <li><span class="listing__figure">3</span> Baths</li>
                                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                                </ul><!-- .listing__stats -->
                                <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                            </div><!-- .listing__details -->
                        </div><!-- .listing-content -->
                    </div><!-- .item-grid__content-container -->
                </div><!-- .listing -->
            </div><!-- .col -->

            <div class="col-md-6 item-grid__container">
                <div class="listing">
                    <div class="item-grid__image-container">
                        <a href="single_property_1.html">
                            <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                            <img src="~/Content/images/uploads/castalia_shibakoen.jpg" alt="Castalia Shibakoen" class="listing__img">
                            <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </div><!-- item-grid__image-container -->
                    <div class="item-grid__content-container">
                        <div class="listing__content">
                            <div class="listing__header">
                                <div class="listing__header-primary">
                                    <h3 class="listing__title"><a href="single_property_1.html">Castalia Shibakoen</a></h3>
                                    <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                                </div><!-- .listing__header-primary -->
                                <p class="listing__price">$2,285,500</p>
                            </div><!-- .listing__header -->
                            <div class="listing__details">
                                <ul class="listing__stats">
                                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                                    <li><span class="listing__figure">3</span> Baths</li>
                                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                                </ul><!-- .listing__stats -->
                                <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                            </div><!-- .listing__details -->
                        </div><!-- .listing-content -->
                    </div><!-- .item-grid__content-container -->
                </div><!-- .listing -->
            </div><!-- .col -->
            <div class="col-md-6 item-grid__container">
                <div class="listing">
                    <div class="item-grid__image-container">
                        <a href="single_property_1.html">
                            <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                            <img src="~/Content/images/uploads/residia_nishi_azabu.jpg" alt="Residia Nishi Azabu" class="listing__img">
                            <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </div><!-- .item-grid__image-container -->
                    <div class="item-grid__content-container">
                        <div class="listing__content">
                            <div class="listing__header">
                                <div class="listing__header-primary">
                                    <h3 class="listing__title"><a href="single_property_1.html">Residia Nishi Azabu</a></h3>
                                    <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                                </div><!-- .listing__header-primary -->
                                <p class="listing__price">$2,285,500</p>
                            </div><!-- .listing__header -->
                            <div class="listing__details">
                                <ul class="listing__stats">
                                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                                    <li><span class="listing__figure">3</span> Baths</li>
                                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                                </ul><!-- .listing__stats -->
                                <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                            </div><!-- .listing__details -->
                        </div><!-- .listing-content -->
                    </div><!-- .item-grid__content-container -->
                </div><!-- .listing -->
            </div><!-- .col -->
        </div><!-- .row -->
        <div class="item-grid--centered">
            <a href="#" class="item-grid__load-more">Load More</a>
        </div>
    </div><!-- .container -->
</section><!-- .item-grid-2 -->
<section class="features">
    <div class="features__overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="feature">
                        <img src="~/Content/images/icon_map.png" alt="Map" class="feature__icon">
                        <h3 class="feature__title">Freshest Market Info</h3>
                        <p class="feature__desc">
                            Our extensive database of listings and market info provide the most accurate.
                        </p>
                    </div><!-- .feature -->
                </div><!-- .col -->
                <div class="col-sm-4">
                    <div class="feature">
                        <img src="~/Content/images/icon_search.png" alt="Search" class="feature__icon">
                        <h3 class="feature__title">Top Local Agents</h3>
                        <p class="feature__desc">
                            Our extensive database of listings and market info provide the most accurate.
                        </p>
                    </div><!-- .feature -->
                </div><!-- .col -->
                <div class="col-sm-4">
                    <div class="feature">
                        <img src="~/Content/images/icon_negotiation.png" alt="Negotiation" class="feature__icon">
                        <h3 class="feature__title">Peace of Mind</h3>
                        <p class="feature__desc">
                            Our extensive database of listings and market info provide the most accurate.
                        </p>
                    </div><!-- .feature -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .features__overlay -->
</section><!-- .features -->
<section class="featured-listing">
    <div class="container">
        <h2 class="section__title">Featured Listing</h2>
        <div class="row">
            <div class="col-md-4 featured-listing__container">
                <div class="listing">
                    <div class="item-grid__image-container">
                        <a href="single_property_1.html">
                            <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                            <img src="~/Content/images/uploads/real_house_luxury_villa.jpg" alt="Real House Luxury Villa" class="listing__img">
                            <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </div><!-- item-grid__image-container -->
                    <div class="item-grid__content-container">
                        <div class="listing__content">
                            <h3 class="listing__title"><a href="single_property_1.html">Real House Luxury Villa</a></h3>
                            <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                            <p class="listing__price">$2,285,500</p>
                            <div class="listing__details">
                                <ul class="listing__stats">
                                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                                    <li><span class="listing__figure">3</span> Baths</li>
                                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                                </ul><!-- .listing__stats -->
                                <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                            </div><!-- .listing__details -->
                        </div><!-- .listing-content -->
                    </div><!-- .item-grid__content-container -->
                </div><!-- .listing -->
            </div><!-- .col -->
            <div class="col-md-4 featured-listing__container">
                <div class="listing">
                    <div class="item-grid__image-container">
                        <a href="single_property_1.html">
                            <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                            <img src="~/Content/images/uploads/dream_house_take_away.jpg" alt="Dream House Take Away" class="listing__img">
                            <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </div><!-- item-grid__image-container -->
                    <div class="item-grid__content-container">
                        <div class="listing__content">
                            <h3 class="listing__title"><a href="single_property_1.html">House Take Away</a></h3>
                            <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                            <p class="listing__price">$85,500/ <span class="listing__price--small">Month</span></p>
                            <div class="listing__details">
                                <ul class="listing__stats">
                                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                                    <li><span class="listing__figure">3</span> Baths</li>
                                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                                </ul><!-- .listing__stats -->
                                <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                            </div><!-- .listing__details -->
                        </div><!-- .listing-content -->
                    </div><!-- .item-grid__content-container -->
                </div><!-- .listing -->
            </div><!-- .col -->
            <div class="col-md-4 featured-listing__container">
                <div class="listing">
                    <div class="item-grid__image-container">
                        <a href="single_property_1.html">
                            <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                            <img src="~/Content/images/uploads/weston_hightpointe_place.jpg" alt="Weston Hightpointe Place" class="listing__img">
                            <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </div><!-- .item-grid__image-container -->
                    <div class="item-grid__content-container">
                        <div class="listing__content">
                            <h3 class="listing__title"><a href="single_property_1.html">Weston Hightpointe Place</a></h3>
                            <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                            <p class="listing__price"><a href="#">Request Price</a></p>
                            <div class="listing__details">
                                <ul class="listing__stats">
                                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                                    <li><span class="listing__figure">3</span> Baths</li>
                                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                                </ul><!-- .listing__stats -->
                                <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                            </div><!-- .listing__details -->
                        </div><!-- .listing-content -->
                    </div><!-- .item-grid__content-container -->
                </div><!-- .listing -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- .featured-listing -->
<section class="testimonial">
    <div class="container">
        <div class="testimonial__container">
            <div class="row">
                <div class="col-md-6">
                    <div class="testimonial__video">
                        <img src="~/Content/images/uploads/testimonial_1.jpg" alt="Testimonial" class="testimonial__video-img">
                        <a href="https://www.youtube.com/watch?v=Q0CbN8sfihY" data-lity>
                            <i class="fa fa-play-circle-o play-icon" aria-hidden="true"></i>
                        </a>
                        <div class="testimonial__overlay"></div><!-- .testimonial__overlay -->
                    </div><!-- .testimonial__video -->
                </div><!-- .col -->
                <div class="col-md-6">
                    <div class="testimonial__content">
                        <h2 class="section__title">2000&plus; Happy Clients</h2>
                        <p class="testimonial__desc">Realand has recently sold our house and home. We have found that it was one of the best investments we could have made, as nothing was a problem to her, and it certainly took the worry of marketing and selling off our mind, as ReaLand had everything under control.</p>
                        <div class="testimonial__customer">
                            <img src="~/Content/images/uploads/testimonial_avatar.png" alt="Karty and Will">
                            <div class="testimonial__customer-profile">
                                <h4 class="testimonial__customer-name">Karty & Will</h4>
                                <p class="testimonial__customer-company">Sunderland, Haintheme</p>
                                <img src="~/Content/images/rating.png" alt="Five Stars Rating">
                            </div><!-- .testimonial__customer-profile -->
                        </div><!-- .testimonial__customer -->
                    </div><!-- .testimonial__content -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .testimonial__container -->
    </div><!-- .container -->
</section><!-- .testimonial -->
<section class="partners">
    <div class="container">
        <ul class="partners__list">
            <li><img src="~/Content/images/uploads/partner1.jpg" alt="Partner"></li>
            <li><img src="~/Content/images/uploads/partner2.jpg" alt="Partner"></li>
            <li><img src="~/Content/images/uploads/partner3.jpg" alt="Partner"></li>
            <li><img src="~/Content/images/uploads/partner4.jpg" alt="Partner"></li>
            <li><img src="~/Content/images/uploads/partner5.jpg" alt="Partner"></li>
        </ul><!-- .partners__list -->
    </div><!-- .container -->
</section><!-- .partners -->
<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="news__single">
                    <div class="news__time">
                        <span class="news__date">26</span>
                        <span class="news__my">July, 2017</span>
                    </div><!-- .news__time -->
                    <div class="news__main">
                        <h3 class="news__title"><a href="blog_single.html">Releases 2Q 2017 Tokyo, Japan</a></h3>
                        <span class="news__meta"><span class="ion-ios-chatboxes-outline"></span> 3 Comment(s)</span>
                        <p class="news__excerpt">The upper level has three bedrooms, with the main bedroom having built-in wardrobes and an ensuite with...</p>
                        <a href="blog_single.html" class="news__readmore">&plus; Read More</a>
                    </div><!-- .news__main-->
                </div><!-- .news__single -->
            </div><!-- .col -->
            <div class="col-md-6">
                <div class="news__single">
                    <div class="news__time">
                        <span class="news__date">27</span>
                        <span class="news__my">July, 2017</span>
                    </div><!-- .news__time -->
                    <div class="news__main">
                        <h3 class="news__title"><a href="blog_single.html">Releases 2Q 2017 Tokyo, Japan</a></h3>
                        <span class="news__meta"><span class="ion-ios-chatboxes-outline"></span> 3 Comment(s)</span>
                        <p class="news__excerpt">The upper level has three bedrooms, with the main bedroom having built-in wardrobes and an ensuite with...</p>
                        <a href="blog_single.html" class="news__readmore">&plus; Read More</a>
                    </div><!-- .news__main-->
                </div><!-- .news__single -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- .news -->
<section class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 newsletter__content">
                <img src="~/Content/images/icon_mail.png" alt="Newsletter" class="newsletter__icon">
                <div class="newsletter__text-content">
                    <h2 class="newsletter__title">Newsletter</h2>
                    <p class="newsletter__desc">Sign up for our newsletter to get up-to-date from us</p>
                </div>
            </div><!-- .col -->
            <div class="col-md-6">
                <form action="/" class="newsletter__form">
                    <input type="email" class="newsletter__field" placeholder="Enter Your E-mail">
                    <input type="submit" value="Subscribe" class="newsletter__submit">
                </form>
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- .newsletter -->