@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section class="main-slider">
    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="realand-slider-1" data-source="gallery" style="margin:0px auto;background:rgba(0,0,0,0.5);padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.4.6 fullwidth mode -->
        <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.6">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="~/content/images/revslider/main_slider_1-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/content/images/revslider/main_slider_1-2.jpeg" alt="" title="main_slider_1" width="1920" height="820" data-lazyload="~/content/images/revslider/main_slider_1.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption   tp-resizeme" id="slide-1-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-60','-40']" data-fontsize="['18','18','16','14']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":1500,"frame":"0","from":"y:top;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 18px; line-height: 22px; font-weight: 400; color: #f3f3f3; letter-spacing: 0px;font-family:Roboto;">THE BEST REAL ESTATE DEALS </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption   tp-resizeme" id="slide-1-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['60','60','40','26']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 60px; line-height: 22px; font-weight: 900; color: #ffffff; letter-spacing: 0px;font-family:Raleway;">Discover Your Perfect Home </div>

                    <!-- LAYER NR. 3 -->
                    <a href="https://www.youtube.com/watch?v=Q0CbN8sfihY" data-lity class="tp-caption   tp-resizeme" target="_self" id="slide-1-layer-7" data-x="['center','center','center','center']" data-hoffset="['6','6','6','6']" data-y="['top','top','top','top']" data-voffset="['480','380','300','230']" data-fontsize="['60','60','36','36']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-actions='' data-responsive_offset="on" data-frames='[{"delay":300,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 60px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;text-decoration: none;"><i class="fa fa-play-circle-o"></i> </a>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-12" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="~/content/images/revslider/main_slider_1-2-100x50.jpeg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/content/images/revslider/main_slider_1-2.jpeg" alt="" title="Main Slider 1-2" width="1920" height="820" data-lazyload="~/content/images/revslider/main_slider_1-2.jpeg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption   tp-resizeme" id="slide-12-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-60','-40']" data-fontsize="['18','18','16','14']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":1500,"frame":"0","from":"y:top;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 18px; line-height: 22px; font-weight: 400; color: #f3f3f3; letter-spacing: 0px;font-family:Roboto;">THE BEST REAL ESTATE DEALS </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption   tp-resizeme" id="slide-12-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['60','60','40','26']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 60px; line-height: 22px; font-weight: 900; color: #ffffff; letter-spacing: 0px;font-family:Raleway;">Discover Your Perfect Home </div>

                    <!-- LAYER NR. 6 -->
                    <a href="https://www.youtube.com/watch?v=Q0CbN8sfihY" data-lity class="tp-caption   tp-resizeme" target="_self" id="slide-12-layer-7" data-x="['center','center','center','center']" data-hoffset="['6','6','6','6']" data-y="['top','top','top','top']" data-voffset="['480','380','300','230']" data-fontsize="['60','60','36','36']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-actions='' data-responsive_offset="on" data-frames='[{"delay":300,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 60px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;text-decoration: none;"><i class="fa fa-play-circle-o"></i> </a>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->
    <section class="main-search main-search--absolute">
        <div class="container">
            <div class="main-search__container">
                <section class="listing-search">
                    <form action="index.html" method="get" class="listing-search__form">
                        <div class="row">
                            <div class="col-sm-5">
                                <label for="listing-type" class="listing-search__label">SEARCH BY CITY, MLS ID OR POSTAL CODE</label>
                                <input type="text" id="keywords" class="listing-search__field" placeholder="Type your keywords...">
                            </div><!-- .col -->
                           
                            <div class="col-sm-3">
                                <label for="offer-type" class="listing-search__label">Property Type</label>
                                <select name="offer-type" id="property-type" class="ht-field">
                                    <option value="Residential">Residential</option>
                                    <option value="Commercial">Commercial</option>
                                    <option value="Condo">Condo</option>
                                </select>
                            </div><!-- .col -->

                       
                            <div class="col-sm-2">
                                <label for="listing-btn" class="listing-search__label listing-search__label--hidden">Search Property</label>

                                <button id="List" class="main-listing__form-reset Search" type="button">Search Property</button>

                            </div><!-- .col -->

                            <div class="col-sm-2">
                                <label for="listing-btn" class="listing-search__label listing-search__label--hidden">Advanced Search</label>
                                <a href="#" id="listing-btn" class="listing-search__btn">Advanced Search</a>
                            </div><!-- .col -->
                        </div><!-- row -->

                        <div class="listing-search__advance">
                            <div class="row">
                              
                                <div class="col-sm-3">
                                    <label for="bedrooms" class="listing-search__label">Bedrooms</label>
                                    <select name="bedrooms" id="bedrooms" class="ht-field">
                                        <option value="All" selected>All Beds</option>
                                        <option value="1">1+</option>
                                        <option value="2">2+</option>
                                        <option value="3">3+</option>
                                        <option value="4">4+</option>
                                        <option value="5">5+</option>
                                        <option value="6">6+</option>
                                        <option value="7">7+</option>
                                        <option value="8">8+</option>
                                        <option value="9">9+</option>
                                        <option value="10">10+</option>
                                    </select>
                                </div><!-- .col -->

                                <div class="col-sm-3">
                                    <label for="bathrooms" class="listing-search__label">Bathrooms</label>
                                    <select name="bathrooms" id="bathrooms" class="ht-field">
                                        <option value="All" selected>All Baths</option>
                                        <option value="1">1+</option>
                                        <option value="2">2+</option>
                                        <option value="3">3+</option>
                                        <option value="4">4+</option>
                                        <option value="5">5+</option>
                                        <option value="6">6+</option>
                                        <option value="7">7+</option>
                                        <option value="8">8+</option>
                                        <option value="9">9+</option>
                                        <option value="10">10+</option>
                                    </select>
                                </div><!-- .col -->
                                <div class="col-sm-3">
                                    <label for="min-price" class="listing-search__label">Min Price</label>
                                    <select name="min-price" id="min-price" class="ht-field">
                                        <option value="0" selected>No min</option>
                                        <option value="100000">100000</option>
                                        <option value="125000">125000</option>
                                        <option value="150000">150000</option>
                                        <option value="175000">175000</option>
                                        <option value="200000">200000</option>
                                        <option value="225000">225000</option>
                                        <option value="250000">250000</option>
                                        <option value="275000">275000</option>
                                        <option value="300000">300000</option>
                                        <option value="325000">325000</option>
                                        <option value="350000">350000</option>
                                        <option value="375000">375000</option>
                                        <option value="400000">400000</option>
                                        <option value="425000">425000</option>
                                        <option value="450000">450000</option>
                                        <option value="475000">475000</option>
                                        <option value="500000">500000</option>
                                        <option value="525000">525000</option>
                                        <option value="550000">550000</option>
                                        <option value="575000">575000</option>
                                        <option value="600000">600000</option>
                                        <option value="625000">625000</option>
                                        <option value="650000">650000</option>
                                        <option value="675000">675000</option>
                                        <option value="700000">700000</option>
                                        <option value="725000">725000</option>
                                        <option value="750000">750000</option>
                                        <option value="775000">775000</option>
                                        <option value="800000">800000</option>
                                        <option value="825000">825000</option>
                                        <option value="850000">850000</option>
                                        <option value="875000">875000</option>
                                        <option value="900000">900000</option>
                                        <option value="925000">925000</option>
                                        <option value="950000">950000</option>
                                        <option value="975000">975000</option>
                                        <option value="1000000">1000000</option>
                                        <option value="1050000">1050000</option>
                                        <option value="1100000">1100000</option>
                                        <option value="1150000">1150000</option>
                                        <option value="1200000">1200000</option>
                                        <option value="1250000">1250000</option>
                                        <option value="1300000">1300000</option>
                                        <option value="1350000">1350000</option>
                                        <option value="1400000">1400000</option>
                                        <option value="1450000">1450000</option>
                                        <option value="1500000">1500000</option>
                                        <option value="1550000">1550000</option>
                                        <option value="1600000">1600000</option>
                                        <option value="1650000">1650000</option>
                                        <option value="1700000">1700000</option>
                                        <option value="1750000">1750000</option>
                                        <option value="1800000">1800000</option>
                                        <option value="1850000">1850000</option>
                                        <option value="1900000">1900000</option>
                                        <option value="1950000">1950000</option>
                                        <option value="2000000">2000000</option>
                                        <option value="2500000">2500000</option>
                                        <option value="3000000">3000000</option>
                                        <option value="3500000">3500000</option>
                                        <option value="4000000">4000000</option>
                                        <option value="4500000">4500000</option>
                                        <option value="5000000">5000000</option>
                                    </select>
                                </div><!-- .col -->
                                <div class="col-sm-3">
                                    <label for="max-price" class="listing-search__label">Max Price</label>
                                    <select name="max-price" id="max-price" class="ht-field">
                                        <option value="0" selected>No max</option>
                                        <option value="100000">100000</option>
                                        <option value="125000">125000</option>
                                        <option value="150000">150000</option>
                                        <option value="175000">175000</option>
                                        <option value="200000">200000</option>
                                        <option value="225000">225000</option>
                                        <option value="250000">250000</option>
                                        <option value="275000">275000</option>
                                        <option value="300000">300000</option>
                                        <option value="325000">325000</option>
                                        <option value="350000">350000</option>
                                        <option value="375000">375000</option>
                                        <option value="400000">400000</option>
                                        <option value="425000">425000</option>
                                        <option value="450000">450000</option>
                                        <option value="475000">475000</option>
                                        <option value="500000">500000</option>
                                        <option value="525000">525000</option>
                                        <option value="550000">550000</option>
                                        <option value="575000">575000</option>
                                        <option value="600000">600000</option>
                                        <option value="625000">625000</option>
                                        <option value="650000">650000</option>
                                        <option value="675000">675000</option>
                                        <option value="700000">700000</option>
                                        <option value="725000">725000</option>
                                        <option value="750000">750000</option>
                                        <option value="775000">775000</option>
                                        <option value="800000">800000</option>
                                        <option value="825000">825000</option>
                                        <option value="850000">850000</option>
                                        <option value="875000">875000</option>
                                        <option value="900000">900000</option>
                                        <option value="925000">925000</option>
                                        <option value="950000">950000</option>
                                        <option value="975000">975000</option>
                                        <option value="1000000">1000000</option>
                                        <option value="1050000">1050000</option>
                                        <option value="1100000">1100000</option>
                                        <option value="1150000">1150000</option>
                                        <option value="1200000">1200000</option>
                                        <option value="1250000">1250000</option>
                                        <option value="1300000">1300000</option>
                                        <option value="1350000">1350000</option>
                                        <option value="1400000">1400000</option>
                                        <option value="1450000">1450000</option>
                                        <option value="1500000">1500000</option>
                                        <option value="1550000">1550000</option>
                                        <option value="1600000">1600000</option>
                                        <option value="1650000">1650000</option>
                                        <option value="1700000">1700000</option>
                                        <option value="1750000">1750000</option>
                                        <option value="1800000">1800000</option>
                                        <option value="1850000">1850000</option>
                                        <option value="1900000">1900000</option>
                                        <option value="1950000">1950000</option>
                                        <option value="2000000">2000000</option>
                                        <option value="2500000">2500000</option>
                                        <option value="3000000">3000000</option>
                                        <option value="3500000">3500000</option>
                                        <option value="4000000">4000000</option>
                                        <option value="4500000">4500000</option>
                                        <option value="5000000">5000000</option>
                                    </select>
                                </div><!-- .col -->


                                <div class="col-sm-3">
                                    <label for="garages" class="listing-search__label">Status</label>
                                    <select name="garages" id="Status" class="ht-field">
                                        <option value="All" selected>All Status</option>
                                        <option value="Sale">Sale</option>
                                        <option value="Lease">Lease</option>
                                    </select>
                                </div><!-- .col -->
                            </div><!-- .row -->

                         
                        </div><!-- .listing-search__advance -->
                    </form><!-- .listing-search__form -->
                </section><!-- .listing-search -->

                <section class="listing-sort">
                    <div class="listing-sort__inner">
                        <ul class="listing-sort__list">
                            <li class="listing-sort__item"><a href="#" class="listing-sort__link"><i class="fa fa-th-list" aria-hidden="true" class="listing-sort__icon"></i></a></li>
                            <li class="listing-sort__item"><a href="#" class="listing-sort__link"><i class="fa fa-th" aria-hidden="true" class="listing-sort__icon"></i></a></li>
                            <li class="listing-sort__item"><a href="#" class="listing-sort__link listing-sort__link--active"><i class="fa fa-th-large" aria-hidden="true" class="listing-sort__icon"></i></a></li>
                        </ul>

                        <span class="listing-sort__result">1-9 of 25 results</span>

                        <p class="listing-sort__sort">
                            <label for="sort-type" class="listing-sort__label"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i> Sort by </label>
                            <select name="sort-type" id="sort-type" class="ht-field listing-sort__field">
                                <option value="default">Default</option>
                                <option value="low-price">Price (Low to High)</option>
                                <option value="high-price">Price (High to Low)</option>
                                <option value="featured">Featured</option>
                            </select>
                        </p>
                    </div><!-- .listing-sort__inner -->
                </section><!-- .listing-sort -->
            </div><!-- .main-search__container -->
        </div><!-- .container -->
    </section><!-- .main-search -->
</section><!-- .main-slider -->




<section class="item-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 item-grid__container">
                <div class="listing">
                    <div class="item-grid__image-container">
                        <a href="single_property_1.html">
                            <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                            <img src="~/Content/images/uploads/real_house_luxury_villa.jpg" alt="Real House Luxury Villa" class="listing__img">
                            <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </div><!-- .item-grid__image-container -->
                    <div class="item-grid__content-container">
                        <div class="listing__content">
                            <div class="listing__header">
                                <div class="listing__header-primary">
                                    <h3 class="listing__title"><a href="single_property_1.html">Real House Luxury Villa</a></h3>
                                    <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                                </div><!-- .listing__header-primary -->
                                <p class="listing__price">$2,285,500</p>
                            </div><!-- .listing__header -->
                            <div class="listing__details">
                                <ul class="listing__stats">
                                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                                    <li><span class="listing__figure">3</span> Baths</li>
                                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                                </ul><!-- .listing__stats -->
                                <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                            </div><!-- .listing__details -->
                        </div><!-- .listing-content -->
                    </div><!-- .item-grid__content-container -->
                </div><!-- .listing -->
                <a href="../Property/Index?Type=Residential">Residential</a>
                <a href="../Property/Index?Type=Commercial">commercial</a>
                <a href="../Property/Index?Type=Condo">condo</a>
                <a href="#">vgh</a>
            </div><!-- .col -->
            <div class="col-md-6 item-grid__container">
                <div class="listing">
                    <div class="item-grid__image-container">
                        <a href="single_property_1.html">
                            <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                            <img src="~/Content/images/uploads/dream_house_take_away.jpg" alt="Dream House Take Away" class="listing__img">
                            <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </div><!-- item-grid__image-container -->
                    <div class="item-grid__content-container">
                        <div class="listing__content">
                            <div class="listing__header">
                                <div class="listing__header-primary">
                                    <h3 class="listing__title"><a href="single_property_1.html">House Take Away</a></h3>
                                    <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                                </div><!-- .listing__header-primary -->
                                <p class="listing__price">$2,285,500</p>
                            </div><!-- .listing__header -->
                            <div class="listing__details">
                                <ul class="listing__stats">
                                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                                    <li><span class="listing__figure">3</span> Baths</li>
                                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                                </ul><!-- .listing__stats -->
                                <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                            </div><!-- .listing__details -->
                        </div><!-- .listing-content -->
                    </div><!-- .item-grid__content-container -->
                </div><!-- .listing -->
            </div><!-- .col -->
            <div class="col-md-6 item-grid__container">
                <div class="listing">
                    <div class="item-grid__image-container">
                        <a href="single_property_1.html">
                            <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                            <img src="~/Content/images/uploads/weston_hightpointe_place.jpg" alt="Weston Hightpointe Place" class="listing__img">
                            <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </div><!-- .item-grid__image-container -->
                    <div class="item-grid__content-container">
                        <div class="listing__content">
                            <div class="listing__header">
                                <div class="listing__header-primary">
                                    <h3 class="listing__title"><a href="single_property_1.html">Weston Hightpointe Place</a></h3>
                                    <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                                </div><!-- .listing__header-primary -->
                                <p class="listing__price">$2,285,500</p>
                            </div><!-- .listing__header -->
                            <div class="listing__details">
                                <ul class="listing__stats">
                                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                                    <li><span class="listing__figure">3</span> Baths</li>
                                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                                </ul><!-- .listing__stats -->
                                <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                            </div><!-- .listing__details -->
                        </div><!-- .listing-content -->
                    </div><!-- .item-grid__content-container -->
                </div><!-- .listing -->
            </div><!-- .col -->

            <div class="col-md-6 item-grid__container">
                <div class="listing">
                    <div class="item-grid__image-container">
                        <a href="single_property_1.html">
                            <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                            <img src="~/Content/images/uploads/sunhouse_apartment_c21.jpg" alt="Sunhouse Apartment C21" class="listing__img">
                            <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </div><!-- .item-grid__image-container -->
                    <div class="item-grid__content-container">
                        <div class="listing__content">
                            <div class="listing__header">
                                <div class="listing__header-primary">
                                    <h3 class="listing__title"><a href="single_property_1.html">Sunhouse Apartment C21</a></h3>
                                    <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                                </div><!-- .listing__header-primary -->
                                <p class="listing__price">$2,285,500</p>
                            </div><!-- .listing__header -->
                            <div class="listing__details">
                                <ul class="listing__stats">
                                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                                    <li><span class="listing__figure">3</span> Baths</li>
                                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                                </ul><!-- .listing__stats -->
                                <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                            </div><!-- .listing__details -->
                        </div><!-- .listing-content -->
                    </div><!-- .item-grid__content-container -->
                </div><!-- .listing -->
            </div><!-- .col -->

            <div class="col-md-6 item-grid__container">
                <div class="listing">
                    <div class="item-grid__image-container">
                        <a href="single_property_1.html">
                            <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                            <img src="~/Content/images/uploads/castalia_shibakoen.jpg" alt="Castalia Shibakoen" class="listing__img">
                            <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </div><!-- item-grid__image-container -->
                    <div class="item-grid__content-container">
                        <div class="listing__content">
                            <div class="listing__header">
                                <div class="listing__header-primary">
                                    <h3 class="listing__title"><a href="single_property_1.html">Castalia Shibakoen</a></h3>
                                    <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                                </div><!-- .listing__header-primary -->
                                <p class="listing__price">$2,285,500</p>
                            </div><!-- .listing__header -->
                            <div class="listing__details">
                                <ul class="listing__stats">
                                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                                    <li><span class="listing__figure">3</span> Baths</li>
                                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                                </ul><!-- .listing__stats -->
                                <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                            </div><!-- .listing__details -->
                        </div><!-- .listing-content -->
                    </div><!-- .item-grid__content-container -->
                </div><!-- .listing -->
            </div><!-- .col -->
            <div class="col-md-6 item-grid__container">
                <div class="listing">
                    <div class="item-grid__image-container">
                        <a href="single_property_1.html">
                            <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                            <img src="~/Content/images/uploads/residia_nishi_azabu.jpg" alt="Residia Nishi Azabu" class="listing__img">
                            <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </div><!-- .item-grid__image-container -->
                    <div class="item-grid__content-container">
                        <div class="listing__content">
                            <div class="listing__header">
                                <div class="listing__header-primary">
                                    <h3 class="listing__title"><a href="single_property_1.html">Residia Nishi Azabu</a></h3>
                                    <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                                </div><!-- .listing__header-primary -->
                                <p class="listing__price">$2,285,500</p>
                            </div><!-- .listing__header -->
                            <div class="listing__details">
                                <ul class="listing__stats">
                                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                                    <li><span class="listing__figure">3</span> Baths</li>
                                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                                </ul><!-- .listing__stats -->
                                <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                            </div><!-- .listing__details -->
                        </div><!-- .listing-content -->
                    </div><!-- .item-grid__content-container -->
                </div><!-- .listing -->
            </div><!-- .col -->
        </div><!-- .row -->
        <div class="item-grid--centered">
            <a href="#" class="item-grid__load-more">Load More</a>
        </div>
    </div><!-- .container -->
</section><!-- .item-grid-2 -->
<section class="features">
    <div class="features__overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="feature">
                        <img src="~/Content/images/icon_map.png" alt="Map" class="feature__icon">
                        <h3 class="feature__title">Freshest Market Info</h3>
                        <p class="feature__desc">
                            Our extensive database of listings and market info provide the most accurate.
                        </p>
                    </div><!-- .feature -->
                </div><!-- .col -->
                <div class="col-sm-4">
                    <div class="feature">
                        <img src="~/Content/images/icon_search.png" alt="Search" class="feature__icon">
                        <h3 class="feature__title">Top Local Agents</h3>
                        <p class="feature__desc">
                            Our extensive database of listings and market info provide the most accurate.
                        </p>
                    </div><!-- .feature -->
                </div><!-- .col -->
                <div class="col-sm-4">
                    <div class="feature">
                        <img src="~/Content/images/icon_negotiation.png" alt="Negotiation" class="feature__icon">
                        <h3 class="feature__title">Peace of Mind</h3>
                        <p class="feature__desc">
                            Our extensive database of listings and market info provide the most accurate.
                        </p>
                    </div><!-- .feature -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .features__overlay -->
</section><!-- .features -->
<section class="featured-listing">
    <div class="container">
        <h2 class="section__title">Featured Listing</h2>
        <div class="row">
            <div class="col-md-4 featured-listing__container">
                <div class="listing">
                    <div class="item-grid__image-container">
                        <a href="single_property_1.html">
                            <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                            <img src="~/Content/images/uploads/real_house_luxury_villa.jpg" alt="Real House Luxury Villa" class="listing__img">
                            <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </div><!-- item-grid__image-container -->
                    <div class="item-grid__content-container">
                        <div class="listing__content">
                            <h3 class="listing__title"><a href="single_property_1.html">Real House Luxury Villa</a></h3>
                            <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                            <p class="listing__price">$2,285,500</p>
                            <div class="listing__details">
                                <ul class="listing__stats">
                                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                                    <li><span class="listing__figure">3</span> Baths</li>
                                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                                </ul><!-- .listing__stats -->
                                <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                            </div><!-- .listing__details -->
                        </div><!-- .listing-content -->
                    </div><!-- .item-grid__content-container -->
                </div><!-- .listing -->
            </div><!-- .col -->
            <div class="col-md-4 featured-listing__container">
                <div class="listing">
                    <div class="item-grid__image-container">
                        <a href="single_property_1.html">
                            <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                            <img src="~/Content/images/uploads/dream_house_take_away.jpg" alt="Dream House Take Away" class="listing__img">
                            <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </div><!-- item-grid__image-container -->
                    <div class="item-grid__content-container">
                        <div class="listing__content">
                            <h3 class="listing__title"><a href="single_property_1.html">House Take Away</a></h3>
                            <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                            <p class="listing__price">$85,500/ <span class="listing__price--small">Month</span></p>
                            <div class="listing__details">
                                <ul class="listing__stats">
                                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                                    <li><span class="listing__figure">3</span> Baths</li>
                                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                                </ul><!-- .listing__stats -->
                                <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                            </div><!-- .listing__details -->
                        </div><!-- .listing-content -->
                    </div><!-- .item-grid__content-container -->
                </div><!-- .listing -->
            </div><!-- .col -->
            <div class="col-md-4 featured-listing__container">
                <div class="listing">
                    <div class="item-grid__image-container">
                        <a href="single_property_1.html">
                            <div class="item-grid__image-overlay"></div><!-- .item-grid__image-overlay -->
                            <img src="~/Content/images/uploads/weston_hightpointe_place.jpg" alt="Weston Hightpointe Place" class="listing__img">
                            <span class="listing__favorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                        </a>
                    </div><!-- .item-grid__image-container -->
                    <div class="item-grid__content-container">
                        <div class="listing__content">
                            <h3 class="listing__title"><a href="single_property_1.html">Weston Hightpointe Place</a></h3>
                            <p class="listing__location"><span class="ion-ios-location-outline listing__location-icon"></span> 157 West 57th St, 77 - Central Park South, NYC</p>
                            <p class="listing__price"><a href="#">Request Price</a></p>
                            <div class="listing__details">
                                <ul class="listing__stats">
                                    <li><span class="listing__figure">5<sup>&plus;</sup></span> Beds</li>
                                    <li><span class="listing__figure">3</span> Baths</li>
                                    <li><span class="listing__figure">1,250</span> sq.ft</li>
                                </ul><!-- .listing__stats -->
                                <a href="single_property_1.html" class="listing__btn">Details <span class="listing__btn-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                            </div><!-- .listing__details -->
                        </div><!-- .listing-content -->
                    </div><!-- .item-grid__content-container -->
                </div><!-- .listing -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- .featured-listing -->
<section class="testimonial">
    <div class="container">
        <div class="testimonial__container">
            <div class="row">
                <div class="col-md-6">
                    <div class="testimonial__video">
                        <img src="~/Content/images/uploads/testimonial_1.jpg" alt="Testimonial" class="testimonial__video-img">
                        <a href="https://www.youtube.com/watch?v=Q0CbN8sfihY" data-lity>
                            <i class="fa fa-play-circle-o play-icon" aria-hidden="true"></i>
                        </a>
                        <div class="testimonial__overlay"></div><!-- .testimonial__overlay -->
                    </div><!-- .testimonial__video -->
                </div><!-- .col -->
                <div class="col-md-6">
                    <div class="testimonial__content">
                        <h2 class="section__title">2000&plus; Happy Clients</h2>
                        <p class="testimonial__desc">Realand has recently sold our house and home. We have found that it was one of the best investments we could have made, as nothing was a problem to her, and it certainly took the worry of marketing and selling off our mind, as ReaLand had everything under control.</p>
                        <div class="testimonial__customer">
                            <img src="~/Content/images/uploads/testimonial_avatar.png" alt="Karty and Will">
                            <div class="testimonial__customer-profile">
                                <h4 class="testimonial__customer-name">Karty & Will</h4>
                                <p class="testimonial__customer-company">Sunderland, Haintheme</p>
                                <img src="~/Content/images/rating.png" alt="Five Stars Rating">
                            </div><!-- .testimonial__customer-profile -->
                        </div><!-- .testimonial__customer -->
                    </div><!-- .testimonial__content -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .testimonial__container -->
    </div><!-- .container -->
</section><!-- .testimonial -->
<section class="partners">
    <div class="container">
        <ul class="partners__list">
            <li><img src="~/Content/images/uploads/partner1.jpg" alt="Partner"></li>
            <li><img src="~/Content/images/uploads/partner2.jpg" alt="Partner"></li>
            <li><img src="~/Content/images/uploads/partner3.jpg" alt="Partner"></li>
            <li><img src="~/Content/images/uploads/partner4.jpg" alt="Partner"></li>
            <li><img src="~/Content/images/uploads/partner5.jpg" alt="Partner"></li>
        </ul><!-- .partners__list -->
    </div><!-- .container -->
</section><!-- .partners -->
<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="news__single">
                    <div class="news__time">
                        <span class="news__date">26</span>
                        <span class="news__my">July, 2017</span>
                    </div><!-- .news__time -->
                    <div class="news__main">
                        <h3 class="news__title"><a href="blog_single.html">Releases 2Q 2017 Tokyo, Japan</a></h3>
                        <span class="news__meta"><span class="ion-ios-chatboxes-outline"></span> 3 Comment(s)</span>
                        <p class="news__excerpt">The upper level has three bedrooms, with the main bedroom having built-in wardrobes and an ensuite with...</p>
                        <a href="blog_single.html" class="news__readmore">&plus; Read More</a>
                    </div><!-- .news__main-->
                </div><!-- .news__single -->
            </div><!-- .col -->
            <div class="col-md-6">
                <div class="news__single">
                    <div class="news__time">
                        <span class="news__date">27</span>
                        <span class="news__my">July, 2017</span>
                    </div><!-- .news__time -->
                    <div class="news__main">
                        <h3 class="news__title"><a href="blog_single.html">Releases 2Q 2017 Tokyo, Japan</a></h3>
                        <span class="news__meta"><span class="ion-ios-chatboxes-outline"></span> 3 Comment(s)</span>
                        <p class="news__excerpt">The upper level has three bedrooms, with the main bedroom having built-in wardrobes and an ensuite with...</p>
                        <a href="blog_single.html" class="news__readmore">&plus; Read More</a>
                    </div><!-- .news__main-->
                </div><!-- .news__single -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- .news -->
<section class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 newsletter__content">
                <img src="~/Content/images/icon_mail.png" alt="Newsletter" class="newsletter__icon">
                <div class="newsletter__text-content">
                    <h2 class="newsletter__title">Newsletter</h2>
                    <p class="newsletter__desc">Sign up for our newsletter to get up-to-date from us</p>
                </div>
            </div><!-- .col -->
            <div class="col-md-6">
                <form action="/" class="newsletter__form">
                    <input type="email" class="newsletter__field" placeholder="Enter Your E-mail">
                    <input type="submit" value="Subscribe" class="newsletter__submit">
                </form>
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- .newsletter -->


